/* border: 1px solid rgb(167, 147, 60); */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0%;
}

/* Header Styles */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: white;
}

/* Footer Styles */
footer {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    margin-top: 4%;
}

.socials-icon {
    width: 35px;
    margin: 0.7rem;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav a {
    text-decoration: none;
    margin: 0.3rem 0.5rem;
}

.footer-nav a::before {
    content: url(/img/foot-nav-icon.png);
}

.footer-nav a:link {
    color: #d3d3d3;
}

.footer-nav a:visited {
    color: #d3d3d3;
}

.copyright {
    color: #d3d3d3;
    text-align: center;
}

/* Giveaway-banner Styles */
.giveaway-banner {
    background-color: #202020;
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100%;
}

.giveaway-banner a{
    text-align: center;
}
.giveaway-banner a:link {
    color: #d3d3d3;
}

.giveaway-banner a:visited {
    color: #d3d3d3;
}

/* Header Logo */
.header-logo {
    margin-top: 15px;
}

.logo {
    width: 200px;
    }


/* Header Navigation Bar */
.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px;
}

.header-nav a {
    text-decoration: none;
    margin: 0.3rem 0.5rem;
}

.header-nav a::before {
    content: url(/img/nav-icon.png);
}

.header-nav a:visited {
    color: #000000;
}


/* Headliner Styles */
.news-headliner {
    margin-top: 218.766px;
}

.news-headliner article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headliner-content {
    margin: 6%;
    text-align: center;
}

.headliner-img {
    width: 100%;
}

/* Author Styles */
.article-author {
    font-style: italic;
    color: rgb(122, 122, 122);
    font-size: .9em;
    margin: 0%;
}


/* Feature Article Styles */
.feature-article {
    border-top: 2px solid #e7e7e7;
    display: flex;
    margin: 4%;
    padding: 15px;
}

.feature-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.feature-content h2{
    margin-top: 0%;
    margin-bottom: 5px;
    font-size: 1.2em;
}

/* Grid Article Styles */
.grid-article {
    border-top: 2px solid #e7e7e7;
    display: flex;
    margin: 4%;
    padding: 15px;
}

.grid-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.grid-content h2{
    margin-top: 0%;
    margin-bottom: 5px;
    font-size: 1.2em;
}

/* Giveaway-survey styles */
.giveaway-wrap {
   display: flex;
   justify-content: center;
   margin: 160px 5px 20px 5px;
}

.giveaway-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    background-color: #202020;
    color: #ffffff;
    border: 2px solid #202020;
    border-radius: 3px;
    box-shadow: 0 0 10px #202020;
}

.giveaway-text {
    padding: 5px 5% 0 5%;
}

.giveaway-img {
    width: 100%;
}

.center {
    text-align: center;
}

.requirement {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.spec-heading {
    text-align: center;
}

.specs {
    display: none;
}

.exclamation-mark {
    position: absolute;
    width: 20px;
    transform: rotate(340deg);
}

.giveaway-survey {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.survey-item-wrap {
    margin-bottom: 20px;
}

.glow {
    width: 100%;
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glow:focus {
    outline: none;
    border-color: #ffd175;
    box-shadow: 0 0 10px #ffd175;
}

.email-wrap {
    display: none;
}

.dob-wrap {
    display: none;
}
.dob {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.dob:focus {
    outline: none;
    border-color: #ffd175;
    box-shadow: 0 0 10px #ffd175;
}

.gender-wrap {
    display: none;
}

.fav-wrap {
    display: none;
}

.fav-wrap {
    display: none;
}

.frequency-wrap {
    display: none;
}

.genre-wrap {
    display: none;
}

.preference-wrap {
    display: none;
}
#pc-preference {
    width: 100%;
    resize: vertical;
}

.enter-wrap{
    display: none;
}

.enter-button {
    background-color: #ffd175;
    border: 2px solid #ffd175;
    border-radius: 3px;
    width: 100%;
    padding: 12px 0px;
}

/* Media Queries */
/* Article descriptions disappearing */
@media screen and (max-width: 48em) {
    .feature-description {
        display: none;
    }

    .grid-description {
        display: none;
    }
}

/*Articles changing into grid format*/
@media screen and (min-width: 48.0625em) {
    .feature-article {
        display: flex;
        align-items: center;
    }

    .feature-img {
        width: 50%;
        height: auto;
        object-fit: cover;
        margin-right: 15px;
    }
          
    .grid-section {
        display: flex;
        flex-wrap: wrap;
    }

    .grid-wrap {
        width: 33.3%;
    }

    .grid-article {
        flex-direction: column;
        border-top: none;
        padding: 0%;
        margin: 10%;    
    }

    .grid-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 15px;
    }
}


/* Header Height */
@media screen and (min-width: 24.25em) {
    .news-headliner {
        margin-top: 173.172px;
    }

    .giveaway-wrap {
        margin-top: 130px;
     }
}


@media screen and (min-width: 46.125em) {
    .news-headliner {
        margin-top: 127.578px;
    }

    .giveaway-wrap {
        margin-top: 100px;
     }
}